<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ms.hms.mapper.SysLogMapper">
    <select id="getSysLogListCount" resultType="Integer">
        select count(*) from tb_sys_log
        where status = 2
        <if test="operation_time != null and operation_time > 0">
            and operation_time = #{operation_time}
        </if>
    </select>


    <select id="getSysLogList" resultType="SysLog">
        select * from tb_sys_log
        where status = #{status}
        <if test="operation_time != null and operation_time > 0">
            and operation_time = #{operation_time}
        </if>
        order by tb_sys_log.operation_time DESC
        <if test="offset >= 0 and pageSize >=0 ">
            limit #{offset},#{pageSize}
        </if>
    </select>

    <select id="getVisitorCount" resultType="Integer">
        SELECT COUNT(DISTINCT username)  FROM tb_sys_log;
    </select>

    <select id="countUsersByDate" resultType="java.util.Map">
        SELECT DATE(operation_time) as date, COUNT(DISTINCT username) as user_count
        from tb_sys_log
        WHERE operation_time >= #{startDate} AND operation_time &lt; #{endDate}
        GROUP BY date
    </select>

    <select id="countUsersByYear" resultType="java.util.Map">
        SELECT DATE_FORMAT(operation_time,'%Y-%m')  as date, COUNT(DISTINCT username) as user_count
        from tb_sys_log
        WHERE operation_time >= #{startDate} AND operation_time &lt; #{endDate}
        GROUP BY date
    </select>

    <select id="getLatestLog" resultType="SysLog">
        SELECT * FROM `BK`.`tb_sys_log`
        WHERE `operation` LIKE concat('%',#{result},'%')
        ORDER BY `operation_time` DESC
        limit 1
    </select>


</mapper>
