<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ms.hms.mapper.UserMapper">
    <update id="changePwd">
        UPDATE tb_user
        set password    = #{password},
            update_time = #{update_time}
        where id = #{id};
    </update>

    <select id="getUserCount" resultType="Integer">
        select count(*) from tb_user
        <if test="name!=null and name != ''">
            where username = #{name}
        </if>
    </select>


    <select id="getRoleList" resultType="SysUser">
        select distinct tu.username,tu.create_time,tu.des,tu.email,tu.id,tsurr.role_id,tsr.name as roleName from tb_user tu
            inner join tb_sys_user_role_relation tsurr on tu.id = tsurr.user_id
            inner join tb_sys_role tsr on tsurr.role_id = tsr.id
        <if test="name != null and name !=''">
            where tu.username = #{name}
        </if>
        order by tu.create_time
        <if test="offset >= 0 and pageSize >=0 ">
            limit #{offset},#{pageSize}
        </if>
    </select>

    <update id="updateUser">
        update tb_user
        set update_time = #{currentTimeMillis}
        <if test="username != null and username != ''">
            ,`username`= #{username}
        </if>
        <if test="avatar != null and avatar != ''">
            ,`avatar` = #{avatar}
        </if>
        <if test="des != null and des != ''">
            ,`des` = #{des}
        </if>
        <if test="email != null and email != ''">
            ,`email` = #{email}
        </if>
        where id = #{id}
    </update>

</mapper>
